.player-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
}

svg {
  color: #b3b3b3;
  transition: 0.2s ease-in-out;
  cursor: pointer;
}

svg:hover {
  color: #fff;
}

.state svg {
  color: #fff;
}

.previous,
.next,
.state {
  font-size: 2rem;
}
